{% include '_components/_mast' with {
  'mast': entry.mast.first
} %}

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8">
        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}

        {% if entry.hasDescendants() %}
          {% set wisdomItems = craft.entries.descendantOf(entry) %}

          <ol>
            {% for item in wisdomItems %}
                <li>
                    <p><strong>{{item.link}}</strong>: {{item.briefDescription}}</p>
                </li>
            {% endfor %}
          </ol>
        {% endif %}
      </div>
      <div class="col-4">
        {% include '_components/_sidebar' with {
          'wisdoms': craft.entries.section('wisdom').relatedTo(entry),
          'events': craft.entries.section('events').relatedTo(entry),
          'topics': craft.entries.section('topics').relatedTo(entry)
        } %}
      </div>
    </div>
  </div>
</div>
