{% set wisdom = entry.getParent() %}

{% set lessonNumber = craft.entries({
  id: wisdom.getChildren().ids(),
  order: 'lft desc',
  positionedBefore: entry,
}).total() + 1 %}

{% set params = wisdom.children() %}
{% set nextEntry = entry.getNext(params) %}

<div class="mast mast--small">
  <div class="l-container">
    <div class="row">
        <div class="col-12">
          <h2 class="secondary-headline">{{ wisdom.title }}</h2>
          <p>{{ wisdom.briefDescription }}</p>
        </div>
      </div>
  </div>
</div>

<div class="l-content-section">
  <div class="l-container">
      <a name="title"></a>
      <h1 class="primary-headline">
        <span class="headline-intro">{{ wisdom.sectionTypeLabel }} {{ lessonNumber }}</span>
        {{ entry.title }}
      </h1>
      <p>{{entry.briefDescription}}</p>
  </div>
</div>

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8">
        
        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}
      </div>
      <div class="col-4">
        {% if nextEntry %}
          <h2 class="secondary-headline">
            <span class="headline-intro">Next {{ wisdom.sectionTypeLabel }}</span>
            {{ nextEntry.title }}
          </h2>

          <p>{{ nextEntry.briefDescription }}</p>

          <a href="{{ nextEntry.url }}#title" class="button">Learn {{ wisdom.sectionTypeLabel }} {{ lessonNumber + 1 }}</a>
        {% endif %}

        {% include '_components/_sidebar' with {
          'matrix': entry.sidebar
        } %}
      </div>
    </div>
  </div>
</div>
