{% set wisdom = entry.getParent() %}
{% include '_components/_mast' with {
  'mast': wisdom.mast.first
} %}

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8">
        <h1 class="primary-headline">{{ entry.title }}</h1>

        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}
      </div>
      <div class="col-4">
        <div class="sidebar">
          <div class="sidebar__section">
            <h3 class="tertiary-headline">Table of Contents</h3>

            {% if wisdom.hasDescendants() %}
              {% set wisdomItems = craft.entries.descendantOf(wisdom) %}

              <ol class="list-links">
                <li>{{wisdom.link}}</li>
                {% for item in wisdomItems %}
                    <li>{{item.link}}</li>
                {% endfor %}
              </ol>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
