{% if entry.mainContent.first.type == 'video' %}
  {% set mainContent = entry.mainContent | slice(1,length) %}
  {% set featuredVideo = entry.mainContent.first %}
{% else %}
  {% set mainContent = entry.mainContent %}
{% endif %}

<div class="mast mast--small">
  <div class="l-container">
    {% if featuredVideo %}
      <div class="row">
          <div class="col-6">
            
              {% include '_components/_featureThumbnail' with {
                'entry': entry,
                'thumbnail': featuredVideo
              } %}
            
          </div>
          <div class="col-6">
            <h2 class="primary-headline">{{ entry.title }}</h2>
            {% include '_components/_featureContent' with {
              'entry': entry,
              'matrix': entry.featuredContent
            } %}
          </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-12">
          <h2 class="primary-headline">{{ entry.title }}</h2>
          {% include '_components/_mainContent' with {
            'matrix': mainContent
          } %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="l-support-section">
  <div class="l-container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li>{{ entry.title }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

{% if entry.hasDescendants() %}
  {% set wisdomItems = craft.entries.descendantOf(entry) %}
{% endif %}

{% if currentUser == null %}
  <div class="l-divider">
    <div class="l-container">
      <div class="row">
        <div class="col-12">
          <p><strong>Become a Free Member.</strong>  All of the content below is available to you completely for free.  Some of it requires for you to join the Foundation as a free member.</p>
          <p><a href="{{ '{entry:381:url}' | parseRefs }}" class="button">Join Today</a></p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="wisdom-toc">
{% if entry.hasDescendants() %}
  {% for item in wisdomItems %}
    <div class="wisdom-toc__item">
        <div class="l-container">
            <h3 class="secondary-headline">
              <span class="headline-intro">{{ entry.sectionTypeLabel }} {{ loop.index }}</span>
              {{item.title}}
            </h3>
          <div class="row">
            <div class="col-8">
                <p>{{item.briefDescription}}</p>
              </div>
              <div class="col-4 wisdom-toc__prompt">
                  <p><a href="{{ item.url }}#title" class="button">Learn {{ entry.sectionTypeLabel }} {{ loop.index }}</a></p>
              </div>
          </div>
        </div>
    </div>   
  {% endfor %}
{% endif %}