{% include '_components/_mast' with {
  'mast': entry.mast.first
} %}

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8 col-centered">
        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}

        {% if entry.hasDescendants() %}
          {% set wisdomItems = craft.entries.descendantOf(entry) %}

          <h2 class="secondary-headline">Table of Contents</h2>

          <div class="tile-container tile-container--divided">
            {% for item in wisdomItems %}
              <div class="tile__item">
                <h3 class="tertiary-headline">{{item.title}}</h3>
                <p>{{item.briefDescription}}</p>
                <p><a href="{{ item.url }}" class="button button--small">Continue&hellip;</a></p>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
