{% extends "_layout" %}

{% block content %}

<div class="l-container">
  <h1 class="primary-headline">{{ entry.title }}</h1>

  {% include '_components/_mainContent' with {
    'matrix': entry.mainContent
  } %}

  <div class="tile-container tile-container--four">
    {% for topic in craft.entries.section('topics').level(1) %}
        <div class="tile__item">
            <h2>{{ topic.link }}</h2>
            <p>{{ topic.briefDescription }}</p>

            {% if topic.hasDescendants() %}
              {% set subtopics = craft.entries.descendantOf(topic) %}

              <ul>
                {% for subtopic in subtopics %}
                    <li>
                        <p><strong>{{subtopic.link}}</strong></p>
                    </li>
                {% endfor %}
              </ul>
            {% endif %}
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
