{% extends "_layout" %}

{% block content %}

<div class="l-container">
  <div class="row">
    <div class="col-8">
      <h1 class="primary-headline">{{ entry.title }}</h1>
      <p>{{ entry.relatedAuthor.first().link }}</p>

      {% include '_components/_mainContent' with {
        'matrix': entry.mainContent
      } %}
    </div>
    <div class="col-4">
      {% include '_components/_related' with {
        'events': craft.entries.section('events').relatedTo(entry),
        'topics': craft.entries.section('topics').relatedTo(entry),
        'wisdoms': craft.entries.section('wisdom').relatedTo(entry)
      } %}
    </div>
  </div>
</div>

{% endblock %}
