{% extends "_layout" %}

{% block content %}
  {% include '_components/_mast' with {
    'mast': entry.mast.first
  } %}

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8 col-centered">
        {% set recent_posts = craft.entries.section('posts') %}
        {% if recent_posts | length == 0 %}
          <p><em>Nothing has been written yet.</em></p>
        {% endif %}

        {% for post in recent_posts %}
          {% include 'posts/_partial' with {
            'post': post
          } %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
