.DS_Store
craft/app
craft/storage/runtime
craft/storage/backups
source/craft/app
source/craft/storage/runtime
source/craft/storage/backups
source/public/assets
source/public/uploads
node_modules
bower_components
.sass-cache
logs
.swp
tmp
backup/uploads
