// LAYOUT STYLES
// ------------------------------
// Prefix layout styles with `l-`
// to make the context clear

// NOTE: Be sure to update the em calculator to reflect
// any changes in the $default-font-size variable above.
// For example, if the font-size is updated to 14px, then
// the new value should be $l-max-width: em(960px, 14px);

// Main container styles

.l-container {
  margin: 0 auto;
  max-width: $l-max-width;
  width: 90%;
  position: relative;
}

.l-top-divider {
  border-top: 1px solid #ccc;
}

.l-section {
  margin-bottom: $default-whitespace;
}

.l-content-section {
  padding: em(50px) 0;

  &.l-divided {
    padding-bottom: em(60px);
    border-bottom: 1px solid #ccc;
    margin-bottom: em(60px);
  }

  &.l-compact {
    margin-bottom: 0;
  }
}

.l-footer {
  margin-top: em(20px);
  padding: em(40px) 0 em(20px) 0;
  border-top: 1px solid $gray;
  color: $gray;

  a {
    color: $gray;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.l-divider {
  padding: em(25px) 0;

  &--padded {
    padding: em(25px);
  }

  .button {
    background: transparent;
    border: 1px solid #fff;
  }
}

// Layout helpers

.l-left {
  float: left;
}

.l-right {
  float: right;
}
