// LAYOUT STYLES
// ------------------------------
// Prefix layout styles with `l-`
// to make the context clear

// Main container styles

.l-header {
  padding: $default-whitespace 0;
}

.l-container {
  margin: 0 auto;
  max-width: $l-max-width;
  width: 90%;
}

.l-section {
  padding: $expanded-whitespace 0;

  &--dark {
    background: $brand-dark-blue;
    color: #fff;
  }
}

.l-footer {
  background-color: $brand-blue;
}

// Layout helpers

.l-left {
  float: left;
}

.l-right {
  float: right;
}
