{% extends "_layout" %}

{% block content %}

<div class="mast mast--small">
  <div class="l-container">
    <h1 class="mast__headline">{{ entry.title }}</h1>
  </div>
</div>

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8">
        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}
      </div>

      <div class="col-4">
        <div class="sidebar">
          {% set parent = entry.getParent() %}

          {% if parent %}
            <div class="sidebar__section">
              <p><strong>{{parent.link}}</strong></p>
            </div>
          {% endif %}

          {% if entry.hasDescendants() %}
            <div class="sidebar__section">
              {% set subpages = craft.entries.descendantOf(entry) %}

              <ul class="list-plain">
                {% for page in subpages %}
                  <li>{{page.link}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
