{% set series = entry.getParent() %}
<div class="l-container">
  <div class="row">
    <div class="col-8">
      <h1 class="primary-headline">{{ entry.title }}</h1>

      <p>Part of the series on {{ series.link }}.</p>

      {% include '_components/_mainContent' with {
        'matrix': entry.mainContent
      } %}
    </div>
    <div class="col-4">
      <h3>{{ series.title }}</h3>

      {% if series.hasDescendants() %}
        {% set seriesItems = craft.entries.descendantOf(series) %}

        <ol>
          {% for item in seriesItems %}
              <li>{{item.link}}</li>
          {% endfor %}
        </ol>
      {% endif %}
    </div>
  </div>
</div>
