// CONTENT STYLES
// --------------

// Headline styles
// ----------------------------------------
// Start of with two levels, let the design
// dictate the remaining headings (inspired
// by Andy Hume's SXSW talk)


%headline {
  margin-top: 0;
  font-family: $headline-font;
  line-height: 1.2;
  font-weight: 300;
}

.primary-headline {
  @extend %headline;
  font-size: em(44px);

  .headline-intro {
    display: block;
    font-size: em(16px, 44px);
    font-family: $sans-serif-font;
    font-weight: bold;
    color: $gray;
    padding-bottom: em(6px);
    text-transform: uppercase;
  }
}

.secondary-headline {
  @extend %headline;
  font-size: em(32px);

  .headline-intro {
    display: block;
    font-size: em(14px, 32px);
    font-family: $sans-serif-font;
    font-weight: bold;
    color: $gray;
    padding-bottom: em(6px);
    text-transform: uppercase;
  }

  * + & {
    padding-top: em(32px);
  }
}

.tertiary-headline {
  @extend %headline;
  font-size: em(18px);
  line-height: 1.4em;

  * + & {
    padding-top: em(18px);
  }

  & + p {
    padding-top: 0;
    margin-top: 0;
  }
}

.section-headline {
  @extend %headline;
  font-size: em(32px);
  text-align: center;

  * + & {
    padding-top: em(32px);
  }
}

.dev {
  background-color: #fee;
  color:#900;
  font-weight: bold;
  padding: em(4px);
}

.fine-text {
  font-size: em(11px);
}
