// COLORS
// ------------------

// Brand colors
// ------------------
$gray: #717D8C;
$white: #ddd;
$brown: #25176A;
$green: #A5607A;
$blue: #5A49D6;

.green-bg {
  color: #fff;
  background-color: $green;

  a, a:hover, a:visited, a:active {
    color: #fff;
  }
}

.gray-bg {
  background-color: $gray;
}

// Default colors

$default-text-color: #333;
$default-border-color: #ccc;

// Link colors

$link-color: #5A49D6;
$link-disabled: #dedede;

// Button colors

$button-text-color: #fff;
$button-default: $blue;

// Notification colors

$notification-alert: #a94442;
$notification-warning: #b29115;
$notification-success: #3c763d;
$notification-notice: #31708f;

// CONTENT DEFAULTS
// ------------------

$default-font-size: 16px;
$default-leading: 1.6;
$default-whitespace: 1.6 * $default-font-size;
$condensed-whitespace: .5 * $default-whitespace;
$expanded-whitespace: 2 * $default-whitespace;

// FONTS
// ------------------

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:300,400';

$headline-font: 'Roboto Slab', serif;
$sans-serif-font: 'Open Sans', sans-serif;
$serif-font: 'Roboto Slab', serif;
$code-font: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;

// LAYOUT
// ------------------

// Max-width of site container

$l-max-width: em(960px);

// Setup the grid variables with Bourbon's
// Flex Grid found in _helpers.scss

$fg-column: 60px;
$fg-gutter: 20px;
$fg-max-columns: 12;
