// COLORS
// ------------------

// Brand colors
// ------------------
// Drop in the colors that make
// up the brand in this section

$brand-blue: #3C5896;
$brand-dark-blue: #33374F;

// Default colors

$default-text-color: #5E5E5E;
$default-border-color: #ccc;

// Link colors

$link-color: #3476af;
$link-disabled: #dedede;

// Button colors

$button-text-color: #fff;
$button-default: $brand-blue;

// Notification colors

$notification-alert: #a94442;
$notification-warning: #b29115;
$notification-success: #3c763d;
$notification-notice: #31708f;

// CONTENT DEFAULTS
// ------------------

$default-font-size: 18px;
$default-leading: 1.6;
$default-whitespace: 1.6 * $default-font-size;
$condensed-whitespace: .5 * $default-whitespace;
$expanded-whitespace: 2 * $default-whitespace;

// FONTS
// ------------------

$headline-font: 'Droid Serif', $helvetica; // TODO: Default to Helvetica for now, to be changed later
$sans-serif-font: $helvetica;
$serif-font: 'Lato', $georgia;
$code-font: $monospace;

// LAYOUT
// ------------------

// NOTE: Be sure to update the em calculator to reflect
// any changes in the $default-font-size variable above.
// For example, if the font-size is updated to 14px, then
// the new value should be $l-max-width: em(960, 14);

$l-max-width: em(1152, 18);
