// BLOCK STYLES
// ---------------

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__media,
  &__content {
    display: flex;

    @include respond-to(em(500px)) {
      width: 50%;
    }
  }

  &__content {
    background: $brand-dark-blue;
    color: #fff;
    padding: $expanded-whitespace
  }

  &--family &__media {
    background: url(../images/group-sunrise.jpg) no-repeat center center;
    background-size: cover;
  }

  // No flexbox version presents a float-based layout
  // for less capable browsers (pre IE10)

  .no-flexbox & {
    display: table;

    &__media,
    &__content {
      display: table-cell;
    }
  }
}
