.cal-thumb {
  width: em(50px);
  border: 2px solid $green;
  text-align: center;
  border-radius: 2px;

  &__month {
    background: $green;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: em(14px);
  }

  &__day {
    font-weight: bold;
    font-size: em(22px);
  }
}
