.event {
  padding-left: em(70px);
  position:relative;

  .cal-thumb {
    position: absolute;
    left: 0;
    top: 0;
  }

  & + .event {
    margin-top: em(60px);
    padding-top: em(60px);
    border-top: 1px solid $brown;

    .cal-thumb {
      top: 60px;
    }
  }
}
