// BUTTON STYLES
// -------------

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: em(20px) 0;

  &__headline {
    @extend %headline;
    font-size: em(32px);
    color: #fff;
    font-weight: normal;
    margin: $expanded-whitespace 0;

    @include respond-to(em(600px)) {
      font-size: em(44px);
    }
  }

}
