// BUTTON STYLES
// -------------

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: em(20) 0;

  &__headline {
    @extend %headline;
    @include font-size(32);
    color: #fff;
    font-weight: normal;
    margin: $expanded-whitespace 0;

    @include respond-to(em(600)) {
      @include font-size(44);
    }
  }

}
