// LIST STYLES
// -------------

.list-plain {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.list-links {
  margin-top: 0;
  padding-left: 0;
  list-style: none;

  > li {
    margin-bottom: 0.7em;
  }
}

.list-horizontal {
  margin-top: 0;
  padding-left: 0;

  > li {
    display: inline-block;
    margin-right: $default-whitespace;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list-vertical {
  margin-top: 0;
  padding-left: 0;
  list-style: none;

  li {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  li + li {
    border-top: 1px solid #ccc;
  }
}
