// NAV STYLES
// ----------------

.navigation {
  &--main {
    background: $gray;
    color: #fff;
    padding: 4px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: em(12px);

      > li {
        display: inline-block;
        margin-right: $default-whitespace;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
