// NAV STYLES
// ----------------

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;


  &--main {
    > li {
      color: #444;
      display: inline;

      > a {
        text-decoration: none;
        padding: em(12px);
        display: inline-block;

        &:hover, &.active {
          background: #ccc;
          color: #222;
          opacity: 1;
        }
      }

      @include respond-to(em(600px), "max-width") {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.3);

        &:last {
          border-bottom: 0;
        }

        > a {
          display: block;

          &:hover, &.active {
            background: #ddd;
            color: #222;
            opacity: 1;
          }
        }
      }
    }
  }
}

.navbar {
  background: #ddd;
}
