.quickthought {
  text-align: center;
  margin: 0;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      border-bottom: 1px dashed rgba(255,255,255,0.7);
    }
  }
}

.quickThoughtCaption {
  border: 1px solid #ccc;
  padding: em(12px);

  p {
    font-size: em(11px);
    font-style: italic;
  }
}
