.quickthought {
  font-size: em(22px);
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      border-bottom: 1px dashed rgba(255,255,255,0.7);
    }
  }
}
