.quickthought {
  padding: em(10px);
  position: relative;
  background-image: url(/images/sunrise.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 200px;

  &--large {
    border:0;
    font-size: em(24px);
    text-align: center;
    font-style: italic;
    padding: em(80px, 24px) 0;
  }

  &__text {
    padding: 0;
    font-size: 32px;
    display:block;
    text-align: center;
    color: #fff;
  }

  &__related {
    font-size: em(11px);
    text-transform: uppercase;
    padding-top: em(10px);

    a {
      padding-right: em(10px);
    }
  }

  &__share {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
