.sidebar {
  padding: 0;
  margin: 0;

  .tertiary-headline {
    font-size: em(18px);
    padding: 0 em(20px) 0 em(20px);
  }

  .list-links,
  .list-plain {
    padding: 0 em(20px) 0 em(20px);
    margin: 0;
  }

  &__section {
    background: #E4F6FA;
    padding-top: em(20px);
    padding-bottom: em(20px);
    margin-bottom: em(20px);
  }

  &__section--plain {
    background: transparent;
  }

  p {
    font-size: em(12px);
    padding-left: em(20px, 12px);
    padding-right: em(20px, 12px);
  }

  li {
    font-size: em(12px);
  }

  .quickthought a {
    color: #222;
  }

}
