.wisdom {
    padding: em(100px) 0;

    &--blue {
        background: $blue;
        color: white;

        .button {
            background-color: white;
            color: $blue;
        }

        a {
            color: white;
        }
    }

    &--green {
        background: $green;
        color: white;
        
        .button {
            background-color: white;
            color: $green;
        }

        a {
            color: white;
        }
    }

    &--white {
        background: white;

        .button {
            background-color: #222;
            color: white;
        }

        a {
            color: #222;
        }
    }

    .button {
        margin-right: em(15px);
    }
}

.wisdom-toc {
    &__item {
        padding: em(40px) 0;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__prompt {
        text-align: right;
    }
}