{% extends "_layout" %}

{% block content %}

<div class="mast mast--small">
  <div class="l-container">
    <h1 class="mast__headline">Questions and Answers</h1>
  </div>
</div>

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8 col-centered">
        <h2 class="secondary-headline">{{ entry.title }}</h2>
        <p><strong>{{ entry.questioner }}</strong> asks:</p>
        {{ entry.fullQuestion }}

        <hr>

        <p><strong>{{ entry.relatedAuthor.first.title }}</strong> says:</p>
        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}

        <p><a href="/questions" class="button">Back to Questions</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
