{% extends "_layout" %}

{% block content %}

<div class="mast mast--small">
  <div class="l-container">
    <h1 class="mast__headline">Questions and Answers</h1>
  </div>
</div>

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8 col-centered">
        <h2 class="secondary-headline">{{ entry.title }}</h2>
        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}
        <hr>
        <p>Thanks to <strong>{{ entry.questioner }}</strong> for today's question.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
