{% extends "_layout" %}

{% block content %}
  {% include '_components/_mast' with {
    'mast': entry.mast.first
  } %}

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8 col-centered">
        {# include 'questions/_form' #}

        {% set recent_posts = craft.entries.section('questions') %}
        {% if recent_posts | length == 0 %}
          <p><em>Nothing has been asked yet.</em></p>
        {% endif %}

        {% include 'questions/_collection' with {
          'questions': recent_posts
        } %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
