{% extends "_layout" %}

{% block content %}

<div class="l-container">
  <div class="row">
    <div class="col-8">
      <h1 class="primary-headline">{{ entry.title }}</h1>

      <ul>
        <li><strong>When:</strong> {{ entry.dateTime }} for {{ entry.duration }}</li>
        <li><strong>Where:</strong> {{ entry.location }}</li>
        <li><strong>Cost:</strong> ${{ entry.cost }}</li>
      </ul>

      {% include '_components/_mainContent' with {
        'matrix': entry.mainContent
      } %}

      <a href="{{ entry.rsvpLink }}" class="button">RSVP</a>
    </div>
    <div class="col-4">
      {% include '_components/_related' with {
        'events': craft.entries.section('events').relatedTo(entry),
        'topics': craft.entries.section('topics').relatedTo(entry),
        'wisdoms': craft.entries.section('wisdom').relatedTo(entry)
      } %}
    </div>
  </div>
</div>

{% endblock %}
