{% extends "_layout" %}

{% block content %}

{% include '_components/_mast' with {
  'mast': entry.mast.first
} %}

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-8">
        {% for event in craft.entries.section('events').order('dateTime') %}
          <div class="event">
            <div class="cal-thumb">
              <div class="cal-thumb__month">{{ event.dateTime | date("M") }}</div>
              <div class="cal-thumb__day">{{ event.dateTime | date("d") }}</div>
            </div>

            <h3 class="secondary-headline">{{ event.title }}</h3>
            <p>{{ event.briefDescription }}</p>
            <p><a href="{{ event.url }}" class="button">Learn more, and RSVP</a></p>
          </div>
        {% endfor %}
      </div>
      <div class="col-4">
        {% include '_components/_sidebar' with {
          'wisdoms': craft.entries.section('wisdom').relatedTo(entry),
          'events': craft.entries.section('events').relatedTo(entry),
          'topics': craft.entries.section('topics').relatedTo(entry)
        } %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
