{% set tocParent = block.parentPage.first %}

{% if tocParent.hasDescendants() %}
  <div class="sidebar__section">
    {% set subpages = craft.entries.descendantOf(tocParent) %}

    {% if block.tocTitle %}
      <h3 class="tertiary-headline">{{ block.tocTitle }}</h3>
    {% endif %}

    <ul class="list-links">
      {% for page in subpages %}
        {% if page.id == entry.id %}
          <li><strong>{{page.title}}</strong></li>
        {% else %}
          <li>{{page.link}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
