{% extends "_layout" %}

{% block content %}

<div class="l-container">
  <div class="row">
    <div class="col-8 col-centered">
      {% set quickthoughtImage = entry.quickthoughtImage.first %}
      {% if quickthoughtImage %}
        <img src="{{ quickthoughtImage.url }}" alt="{{ quickthoughtImage.quickThoughtTranscription }}" />
      {% endif %}

      <div class="quickthought quickthought--large">
        {{ entry.quickThoughtTranscription }}
      </div>

      <p class="dev">Insert buttons to quick share this on Facebook or Twitter.</p>
    </div>
  </div>
</div>

{% endblock %}
