{% extends "_errorLayout" %}
{% set title = "System Unavailable" %}

{% block content %}
    <div class="l-container">
        <div class="row">
            <div class="col-8 col-centered">
                <h1 class="primary-headline">System Maintenance.</h1>
                <p>The website is offline for planned maintenance updates.</p>
                <p>While you are waiting, watch this inspirational video on the 4 Realities for the 21st Century.</p>

                <div class="embed embed--16by9">
                    <iframe class='sproutvideo-player' src='//videos.sproutvideo.com/embed/7c9bdeb41918e4c3f4/409edb2dabdb935f' width='630' height='354' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}
