<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Discover Oneness Foundation</title>
  <link rel="home" href="{{ siteUrl }}">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if entry is defined %}
    <meta name="description" content="{{ entry.metaDescription }}">
  {% endif %}
  <link rel="stylesheet" href="/assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Lato:400,700" rel="stylesheet" type="text/css">
</head>
<body>

  <header class="l-header">
    {% set mast = entry.mast.first %}
    <div class="mast" style="background-image: url({{ mast.background.first.url }});">
      <div class="l-container">
        <a href="/"><img class="logo" src="/images/oneness-logo-white.svg" /></a>

        <div class="mast__intro_headline">{{ mast.introHeadline }}</div>
        <h1 class="mast__headline">{{ mast.headline }}</h1>
      </div>
    </div>
  </header>

  <main id="content" role="main">
  {% block content %}{% endblock %}
  </main>

  <footer class="l-footer">
    <div class="l-section">
      <div class="l-container">
        <small>&copy; Copyright 2016 Discover Oneness Foundation</small>
      </div>
    </div>
  </footer>

  <script src="/assets/application.js"></script>
  <script>
    require('main');
  </script>
</body>
</html>
