<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Lato:400,700" rel="stylesheet" type="text/css">

  {% hook 'seomaticRender' %}
</head>
<body>
  {% if entry.premiumContent == true %}
    {% requireLogin %}
  {% endif %}

  {% if streaming.broadcastingLive and entry.id != 1147 %}
    <div class="sticky-promo">
      <div class="l-container">
        <div class="sticky-promo__title">LIVE - Join us in the TV Studio right now...</div>
        <p><a href="/live" class="button">Watch Now</a></p>
      </div>
    </div>
  {% endif %}

  <header role="banner">
    <div class="header l-container">
      <div class="header-container">
        <a class="logo" href="/">Discover Oneness Foundation</a>
        <ul class="nav">
          {% for navLink in craft.entries.section('mainNavigation') %}
            {% if navLink.websiteUrl %}
              <li><a href="{{navLink.websiteUrl}}" target="_blank">{{navLink.title}}</a></li>
            {% else %}
              <li><a href="{{navLink.relatedPage.first.url}}">{{navLink.title}}</a></li>
            {% endif %}
          {% endfor %}
          {% if currentUser %}
            <li><a href="{{ logoutUrl }}" class="button">Logout</a></li>
          {% else %}
            <li><a href="{{ '{entry:379:url}' | parseRefs }}" class="button">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>

  <main id="content" role="main">
  {% block content %}{% endblock %}
  </main>

  <footer class="l-footer">
    <div class="l-section">
      <div class="l-container">
        <ul class="list-horizontal">
          {% for navLink in craft.entries.section('secondaryNavigation') %}
            {% if navLink.websiteUrl %}
              <li><a href="{{navLink.websiteUrl}}" target="_blank">{{navLink.title}}</a></li>
            {% else %}
              <li><a href="{{navLink.relatedPage.first.url}}">{{navLink.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <p><small>&copy; Copyright 2018 Discover Oneness Foundation</small></p>
      </div>
    </div>
  </footer>

  <script src="/assets/application.js"></script>
  <script src="{{ resourceUrl('charge/js/stripe_v2.min.js') }}"></script>
  <script src="{{ resourceUrl('charge/js/jquery.charge.js') }}"></script>
  <script>
      (function () {
          Stripe.setPublishableKey('{{ craft.charge.getPublicKey() }}');
          $(this).charge();
      })();
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73911400-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script type="text/javascript">
  	var trackcmp_email = '';
  	var trackcmp = document.createElement("script");
  	trackcmp.async = true;
  	trackcmp.type = 'text/javascript';
  	trackcmp.src = '//trackcmp.net/visit?actid=89196044&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
  	var trackcmp_s = document.getElementsByTagName("script");
  	if (trackcmp_s.length) {
  		trackcmp_s[0].parentNode.appendChild(trackcmp);
  	} else {
  		var trackcmp_h = document.getElementsByTagName("head");
  		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
  	}
  </script>
</body>
</html>
