<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>


  <header id="header" class="header" role="banner">
    <div class="nav">

    </div>
  </header>

  <main id="content" role="main">
    <div class="main-content">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer>

  </footer>

  <script src="/assets/application.js"></script>
  <script>
    require('main');
  </script>
</body>
</html>
