<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{% if entry.titleTag %}{{ entry.titleTag}}{% else %}Discover Oneness Foundation{% endif %}</title>
  <link rel="home" href="{{ siteUrl }}">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if entry is defined %}
    <meta name="description" content="{{ entry.metaDescription }}">
  {% endif %}
  <link rel="stylesheet" href="/assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Lato:400,700" rel="stylesheet" type="text/css">

  {% if entry.metaDescription %}
    <meta name="description" content="{{ entry.metaDescription }}">
  {% endif %}
</head>
<body>
  {% if entry.premiumContent == true %}
    {% requireLogin %}
  {% endif %}

  <header role="banner">
    <div class="header l-container">
      <div class="header-container">
        <a class="logo" href="/">Discover Oneness Foundation</a>
        <ul class="nav">
          {% for navLink in craft.entries.section('mainNavigation') %}
            {% if navLink.websiteUrl %}
              <li><a href="{{navLink.websiteUrl}}" target="_blank">{{navLink.title}}</a></li>
            {% else %}
              <li><a href="{{navLink.relatedPage.first.url}}">{{navLink.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </header>

  <main id="content" role="main">
  {% block content %}{% endblock %}
  </main>

  <footer class="l-footer">
    <div class="l-section">
      <div class="l-container">
        <ul class="list-horizontal">
          {% for navLink in craft.entries.section('secondaryNavigation') %}
            {% if navLink.websiteUrl %}
              <li><a href="{{navLink.websiteUrl}}" target="_blank">{{navLink.title}}</a></li>
            {% else %}
              <li><a href="{{navLink.relatedPage.first.url}}">{{navLink.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

        <p><small>&copy; Copyright 2016 Discover Oneness Foundation</small></p>
      </div>
    </div>
  </footer>

  <script src="/assets/application.js"></script>
  <script src="{{ resourceUrl('charge/js/stripe_v2.min.js') }}"></script>
  <script src="{{ resourceUrl('charge/js/jquery.charge.js') }}"></script>
  <script>
      (function () {
          Stripe.setPublishableKey('{{ craft.charge.getPublicKey() }}');
          $(this).charge();
      })();
  </script>
</body>
</html>
