{% if currentUser %}
    {% redirect 'members' %}
{% endif %}

{% extends "_layout" %}

{% block content %}
  {% include '_components/_mast' with {
    'mast': entry.mast.first
  } %}

  <div class="l-container l-content-section l-compact">
    <div class="row">
      <div class="col-12">
        {% include '_components/_mainContent' with {
          'matrix': entry.mainContent
        } %}
      </div>
    </div>
  </div>

  <div class="l-top-divider">
    <div class="l-container">
      <div class="row">
        <div class="col-12">
          {% include '_components/_inlineNavigation' with {
            'matrix': entry.inlineNavigation
          } %}
        </div>
      </div>
    </div>
  </div>

  {% for wisdomItem in entry.relatedWisdom %}
      {% include 'wisdom/_featured' with {
        'wisdom': wisdomItem,
        'sectionNumber': 1
      } %}
  {% endfor %}

{% endblock %}
