{% extends "_layout" %}

{% block content %}
  {% include '_components/_mast' with {
    'mast': entry.mast.first
  } %}

  <div class="l-container l-content-section">
    {% include '_components/_twoColumnSummary' with {
      'summary': entry.twoColumnSummarySection.first
    } %}
  </div>

<div class="l-divider green-bg">
  <div class="l-container">
    {% include 'quickthoughts/_partial' with {
      'quickthought': craft.entries.section('quickthoughts').order('RAND()').first
    } %}
  </div>
</div>

<div class="l-content-section">
  <div class="l-container">
    <div class="row">
      <div class="col-6">
        {% include 'wisdom/_featured' with {
          'wisdom': entry.relatedWisdom[0]
        } %}
      </div>
      <div class="col-6">
        {% include 'wisdom/_featured' with {
          'wisdom': entry.relatedWisdom[1]
        } %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
