{% extends "_home_layout" %}

{% block content %}
  <div class="l-container">
    {% include 'wisdom/_collection' with {
      'wisdoms': craft.entries.section('wisdom').level(1)
    } %}

    <hr>

    <div class="row">
      <div class="col-8">
        {% include 'posts/_collection' with {
          'posts': craft.entries.section('posts').limit(10)
        } %}
      </div>
      <div class="col-4">
        {% include 'topics/_collection' with {
          'topics': craft.entries.section('topics')
        } %}
      </div>
    </div>
  </div>
{% endblock %}
